<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <h3>Add Video</h3>
        <form ng-submit="create(video)" novalidate>
            <div class="form-group">
                <label>Title</label>
                <input class="form-control" name="title" type="text" placeholder="title" ng-model="video.title" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <input class="form-control" name="description" type="text" placeholder="description" ng-model="video.description" />
            </div>
            <div class="form-group">
                <label>Year</label>
                <input class="form-control" name="year" type="text" placeholder="year" ng-model="video.year" />
            </div>
            <div class="form-group">
                <label>Cover Url</label>
                <input class="form-control" name="cover" type="text" placeholder="cover url" ng-model="video.cover_url" />
            </div>
            <div class="form-group">
                <label>File</label>
                <input type="file" class="form-control" file-model="file" placeholder="file">
            </div>
            <button class="btn btn-info">Add</button>
        </form>
    </div>
</div>