<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <div class="jumbotron text-center">
            <div class="row">
                <h3>{{title}}</h3>
            </div>
            <div class="row">
                <img src="../img/logo.png" width="150" height="150">
            </div>
            <div class="row">
                <div class="btn-group">
                    <a href="#!video/form"><button class="btn btn-danger">New</button></a>
                    <a href="#!video/list"><button class="btn btn-danger">List</button></a>
                </div>
            </div>
        </div>
    </div>
</div>