<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <h3>Videos</h3>
        <table class="table" ng-init="retrieve()">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Year</th>
            </tr>
            <tr class="text-center" ng-repeat="video in videos">
                <td class="align-middle">{{ video.info.title }}</td>
                <td>{{ video.info.description }}</td>
                <td>{{ video.info.year }}</td>
                <td><a href="{{ video.info.stream_url }}"><img class="thumbnail" ng-src={{video.info.cover_url}} style="max-width: 400px; height: auto;"></a></td>
            </tr>
        </table>
    </div>
</div>